# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcworkspace
*.zip

build.log
merged_docs.json

# Bundler
.bundle
*.framework/

# Carthage
Carthage/

# Pods
Pods/
*.generated.swift

# Fastlane
fastlane/report.xml
fastlane/README.md
.python-version

# Python
__pycache__/

# docs
merged_docs.json
